body {
  background-image: url('45degreee_fabric.png');
  background-repeat: repeat;           /* Repeats horizontally and vertically */
  background-size: auto;               /* Keeps original image size */
  background-attachment: scroll;
  background-position: center; 
  color: #f5f5dc;
  filter: grayscale(0%);
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: rgba(243, 213, 136, 0.966);
  
}
.bg-steel2 {
  background-color:rgb(255, 205, 68);
  box-shadow: #333;
  
}
.navbar-nav .nav-link:hover {
  color: #e21f1f;
  text-shadow: rgb(27, 26, 26);
}

.site-header .navbar-nav .nav-link {
  color: #285b79;
  font-weight: 400;
}

.site-header .navbar-nav .nav-link:hover {
  color: #721010;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
  color:#a9e2c5
}

.content-section {
  background: rgba(243, 213, 136, 0.219);
  padding: 10px 10px;
  border: 1px double #e99a23a6;
  border-radius: 3px;
  margin-bottom: 10px;
  
  
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
 
  color: #2b2929;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size:large ;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px thin #292927;
  margin-top: 10px;
  color:#333;
}

.article-metadata a:hover {
  color: darkorange;
  text-decoration: #292927;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 3rem;
  color: #292927;
  margin-left: 1px;

}
.bg-main{
     color:#1f2020bd
}

.button-page {
  color:red
}
.nav-main{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: x-large;
}

.btn-tekken {

    --bs-btn-color: #dc3545;
    --bs-btn-border-color: #8d3942;
    --bs-btn-hover-color: #443131;
    --bs-btn-hover-bg: #d69721;
    --bs-btn-hover-border-color: #5a4648;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #dc3545;
    --bs-btn-active-border-color: #dc3545;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #dc3545;
    --bs-btn-disabled-bg: #d69721;
    --bs-btn-disabled-border-color: #dc3545;
    --bs-gradient: none;
}
.btn-text {
  font-size: large;
  font-weight: bolder;
  color: #333;
  
}
.box-filtered{
  filter: grayscale(100%);
}
.tooltip_1 {
  filter: blur(0%);
}