{% extends "layout.html" %}
{% block content %}
<script>function fill_field(smth){document.getElementById('form_1').value += smth}</script>
   <div class="col">
      <div class="flex-container ms-auto mt-3 mb-3 my-5 p-4 mx-auto">
         <div class="row">
            <div class="col-md-4">
               {% for post in posts.items %}
                  <article class="media content-section shadow-lg">
                     <div class="flex-row">
                        <div class="article-metadata p-0">
                           <img class="rounded-circle article-img"
                                src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                           <a class="h5"
                              href="{{ url_for('users.user_posts', username= post.author.username) }}"> {{ post.author.username }}</a>
                           <small class="text-muted">{{ post.date_posted.strftime("%a %d %b %Y, %I:%M%p") }}</small>
                        </div>
                        <div class="media-body">
                           <h4 style="text-align: end;">
                              <a class="article-title"
                                 href="{{ url_for('posts.post', id = post.id) }}">{{ post.title }}</a>
                           </h4>
                           ...
                           <p class="article-content">{{ post.content }}</p>
                        </div>
                     </article>
                  {% endfor %}
               </div>
               <div class="col-lg">
                  <div class="flex-container" style="text-align: right;">
                     <h1>New Combo</h1>
                     <form method="POST" action="">

                        <div class="form-group" >
                           
                           {{ form.combo_string(class="form-control form-control-lg", id='form_1') }}


                           <div class="form-group p-2">{{ form.submit(class="btn btn-outline-info") }}</div>

                        </div>
                       
                     </form>

                  </div>
                  ...
                  <div class="flex-container">
                     <h1 style="text-align: right;">Preview</h1>
                     <div class="article content-section shadow-lg">
                        {% for image in images %}
                           
                           <img src="{{ url_for('static', filename=image) }} " height="40" width="40" alt="">
                           
                        {% endfor %}
                        <p class="article-title">Test</p>
                     </div>
                     <div class="flex-row">
                        <div class="flew-col">
                           {% for a in list_assets %}
                              
                              <a type="button" onclick="fill_field('{{ a }}')">
                                 <img src="{{ url_for('static', filename=a) }}">
                              </a>
                           {% endfor %}
                        </div>   
                        
                     </div>

                  </div>
               </div>
            </div>
            {% for page_number in posts.iter_pages(left_edge=1,right_edge=1, left_current=2, right_current=2) %}
               {% if page_number %}
                  {% if posts.page == page_number %}
                     <a class="btn btn-danger btn-sm mb-3"
                        href="{{ url_for('main.home_2', page=page_number) }}">{{ page_number }}</a>
                  {% else %}
                     <a class="btn btn-warning btn-sm button-page"
                        href="{{ url_for('main.home_2', page=page_number) }}">{{ page_number }}</a>
                  {% endif %}
               {% else %}
                  ...
               {% endif %}
            {% endfor %}
         </div>
   </div>
   {% endblock %}
