{% extends "layout.html" %}
{% block content %}
<script>function fill_field(smth){document.getElementById('form_1').value += smth}</script>
   <div class="col">
      <div class="flex-container ms-auto mt-3 mb-3 my-5 p-4 mx-auto">
         <div class="row">
            <div class="col-md-4">
               {% for post in posts.items %}
                  <article class="media content-section shadow-lg">
                     <div class="flex-row">
                        <div class="article-metadata p-0">
                           <img class="rounded-circle article-img"
                                src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                           <a class="h5"
                              href="{{ url_for('users.user_posts', username= post.author.username) }}"> {{ post.author.username }}</a>
                           <small class="text-muted">{{ post.date_posted.strftime("%a %d %b %Y, %I:%M%p") }}</small>
                        </div>
                        <div class="media-body">
                           <h4 style="text-align: end;">
                              <a class="article-title"
                                 href="{{ url_for('posts.post', id = post.id) }}">{{ post.title }}</a>
                           </h4>
                           ...
                           <p class="article-content">{{ post.content }}</p>
                        </div>
                     </article>
                  {% endfor %}
               </div>
               <div class="col-lg">
                  <div class="flex-container" style="text-align: right;">
                     <h1>New Combo</h1>
                     <form method="POST" action="">

                        <div class="form-group" >
                           
                           {{ form.combo_string(class="form-control form-control-lg", id='form_1') }}


                           <div class="form-group p-2">{{ form.submit(class="btn btn-outline-info") }}</div>

                        </div>
                       
                     </form>

                  </div>
                  ...
                  <div class="flex-container">
                     <h1 style="text-align: right;">Preview</h1>
                     <div class="article content-section shadow-lg">
                        {% for image in images %}
                           
                           <img src="{{ url_for('static', filename=image) }} " height="40" width="40" alt="">
                           
                        {% endfor %}
                        <p class="article-title">Test</p>
                     </div>
                     <div class="flex-container mt-5 p-4 ms-auto my-3 ">
                        <div class="row gap-0">
                           <div class="col col-sm-auto">
                              <div class="container-fluid">
                                 <div class="row row-cols-auto">
                                    <div class="col p-0">
                                       <!-- top motion -->
                                        <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/ub.png')}}" alt="">
                                        </a>
                                    </div>
                                    <div class="col p-0">
                                       <!-- top motion -->
                                        <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/u.png')}}" alt="">
                                        </a>
                                    </div>
                                    <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/uf.png')}}" alt="">
                                        </a>
                                       <!-- top motion  -->
                                    </div>
                                 </div>
                                 <div class="row row-cols-auto">
                                    <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/b.png')}}" alt="">
                                        </a>
                                       <!-- mid motion -->
                                    </div>
                                    <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/n.png')}}" alt="">
                                        </a>
                                       <!-- mid motion -->
                                    </div>
                                    <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/f.png')}}" alt="">
                                        </a>
                                       <!-- mid motion  -->
                                    </div>
                                 </div>
                                 <div class="row row-cols-auto">
                                    <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/db.png')}}" alt="">
                                        </a>
                                       <!-- btm motion -->
                                    </div>
                                    <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/d.png')}}" alt="">
                                        </a>
                                       <!-- btm motion -->
                                    </div>
                                    <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/df.png')}}" alt="">
                                        </a>
                                       <!-- btm motion  -->
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col mt-5 mr-0 ml-0">
                              <div class="row row-cols-auto">
                                 <div class="col p-0 g-0 ">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/1.png')}}" alt="">
                                        </a>
                                       <!-- top buttons  -->
                                 </div>
                                 <div class="col p-0 g-0 ">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/2.png')}}" alt="">
                                        </a>
                                       <!-- top buttons  -->
                                 </div>
                                 <div class="col p-0 g-0 ">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/1+2.png')}}" alt="">
                                        </a>
                                       <!-- top buttons  -->
                                 </div>
                                 <div class="col p-0 g-0 ">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/1+3.png')}}" alt="">
                                        </a>
                                       <!-- top buttons  -->
                                 </div>
                                 

                              </div>
                              <div class="row row-cols-auto mt-0">
                                 <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/3.png')}}" alt="">
                                        </a>
                                       <!-- btm buttons  -->
                                 </div>
                                 <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/4.png')}}" alt="">
                                        </a>
                                       <!-- btm buttons  -->
                                 </div>
                                 <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/3+4.png')}}" alt="">
                                        </a>
                                       <!-- btm buttons  -->
                                 </div>
                                 <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/2+4.png')}}" alt="">
                                        </a>
                                       <!-- btm buttons  -->
                                 </div>
                              </div>
                              <!-- here are buttons -->
                           </div>
                           <div class="col mt-5 mr-0 ml-0">
                              <div class="row row-cols-auto mx-0 mt-4 g-0 px-0 d-flex justify-content-center border border-dark shadow-sm rounded">
                                 <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/1+4.png')}}" alt="" height="55" width="55">
                                        </a>
                                       <!-- btm buttons  -->
                                 </div>
                                 <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/2+3.png')}}" alt="" height="55" width="55">
                                        </a>
                                       <!-- btm buttons  -->
                                 </div>
                                 <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/1+2+3.png')}}" alt="" height="55" width="55">
                                        </a>
                                       <!-- btm buttons  -->
                                 </div>
                                 <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/1+2+4.png')}}" alt="" height="55" width="55">
                                        </a>
                                       <!-- btm buttons  -->
                                 </div>
                                 <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/1+3+4.png')}}" alt="" height="55" width="55">
                                        </a>
                                       <!-- btm buttons  -->
                                 </div>
                                 <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/2+3+4.png')}}" alt="" height="55" width="55">
                                        </a>
                                       <!-- btm buttons  -->
                                 </div>
                                 <div class="col p-0">
                                       <a href="#" class="btn">
                                          <img src="{{ url_for('static', filename='assets/1+2+3+4.png')}}" alt="" height="55" width="55">
                                        </a>
                                       <!-- btm buttons  -->
                                 </div>
                                 
                              </div>
                                 
                           </div>
                        </div>
                     </div>
                     
                 
                  </div>
                  <div class="flex-container">
                     <div class="row row-cols-auto g-0 px-4 d-flex justify-content-center">
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/ufhold.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/uhold.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/ubhold.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/bhold.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/dbhold.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/dhold.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/dfhold.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/fhold.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        
                     </div>
                  </div>
                  <div class="flex-container">
                     <div class="row row-cols-auto g-0 px-4 d-flex justify-content-center">
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/T!.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/heat.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/dash.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/chip.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/forcecrouch.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/powercrush.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/Balconybreak.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/Floorblast.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/Floorbreak.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/Wallblast.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/Wallbound.png')}}" alt="" height="50" width="50"></a>
                        </div>
                        <div class="col ">
                           <a href="" class="btn"><img src="{{ url_for('static', filename='assets/Wallbreak.png')}}" alt="" height="50" width="50"></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {% for page_number in posts.iter_pages(left_edge=1,right_edge=1, left_current=2, right_current=2) %}
               {% if page_number %}
                  {% if posts.page == page_number %}
                     <a class="btn btn-danger btn-sm mb-3"
                        href="{{ url_for('main.home_2', page=page_number) }}">{{ page_number }}</a>
                  {% else %}
                     <a class="btn btn-warning btn-sm button-page"
                        href="{{ url_for('main.home_2', page=page_number) }}">{{ page_number }}</a>
                  {% endif %}
               {% else %}
                  ...
               {% endif %}
            {% endfor %}
         </div>
   </div>
   {% endblock %}
